<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <span>Logged in as: {{ user['first_name'] }} {{ user['last_name'] }}</span>
        <div>
            <a href="{{ url_for('game.life') }}">Game of Life</a>
            <a href="{{ url_for('notes.notes_view') }}">Notes</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </div>
</body>
</html>
